@import "../../styles/variables";

.text-input {
    width: 300px;
    height: 42px;
    padding: 0 14px;
    border: 1px solid $medium-gray-color;
    border-radius: 3.5px;
    font-size: $small-font-size;
}